*{
    margin: 0;
    padding: 0;
    
}

.cart-header{
    padding: 5%;
    margin-left: 8%;
    margin-right:0% ;
    font-size: 40px;
    font-family: "Montserrat";
    line-height: 1.2em;
    color: #6057fd;
    /* display: inline;*/
    /* text-align: center; */
 
    width: 100%;
    background-color: #f6f5f9; 
}
.cart-img{
    height: 60vh;
    margin: 5% 0;
    margin-right: 15%;
    width: 30%;
    background-color: #f6f5f9; 
    
}
/* background-color: #f6f5f9;  */
.header-flexbox{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #f6f5f9; 
    width:100%;
}

.cart-items{
    height: 85vh;
    overflow-y:scroll;
}
.listrow-img{
    width: 25%;
    height: 25%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    border-right: 2px solid black;
  
}

th,td {
    padding: 1rem 1rem;
    width: 20%;
  }
.cart-quantity-flexbox{
    display: flex;
    align-items: center;
}
.cart-quantity-btn{
    font-size: 1.5rem;
    padding: 7px;
    margin: 0 15px;
    background-color: rgba(244, 238, 238, 0.968);
    border-radius: 5px;
    border: none;
    cursor: pointer;


}
.cart-quantity-btn:hover{
    background-color: rgba(247, 245, 245, 0.968);
}
.cart-totalprice{
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat", "Helvetica Neue";
    color: #6057fd;
    font-weight: 600;
    
}
.cart-totalprice-box{
    width: 30%;
    display: block;
    /* margin: 0 auto; */
    margin-top: 2vh;
    float: right;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.cart-address-header{
    text-align: center;
    font-size: 35px;
    font-family: "Montserrat", "Helvetica Neue";
    font-weight: 500;
    padding-top: 3%;
    color: rgb(9, 145, 4);
    font-weight: 600;
    font-style: italic;
    background-color: #f6f5f9;
}
.cart-totalprice-box-parent{
    background-color: #f6f5f9;
    padding:2% 0 ;
}

.checkout-btn{
    display: block;
    margin: 4vh auto 2vh auto;
    padding:1vh;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 25px;
    
}

/* For DataTable */
.p-datatable > .p-datatable-wrapper {
    overflow: auto;
    justify-content: center;
    display: flex;
}
@media (max-width: 768px) {
    .list-header{
        display: none;
    }
    .header-flexbox{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .cart-header {
      font-size: 1.5rem;
      text-align: center;
    }
  .cart-totalprice{
    font-size: 1.5rem;
  }
    .cart-img {
      height: 40vh;
      width: 70%;
      margin-right: 0;
      /* display: none; */
    }
  
    .list-head-elements {
      font-size: 24px;
      margin: 4px;
    }
  
    .cart-totalprice {
      font-size: 24px;
    }
  
    .cart-totalprice-box {
      width: 50%;
      padding: 1%;
    }
  
    .cart-address-header {
      font-size: 30px;
      padding-top: 2%;
    }
    .list1{
        display: none;
    }
    .list3{
        width: 30%;
    }
    .cart-address-header{
        font-size: 1.75rem;
    }
  }